﻿@model IEnumerable<DataAccess.Entity.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
@if (Library.Models.AuthenticationManager.LoggedUser != null && Library.Models.AuthenticationManager.IsAdmin() == true)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th style="text-align:center;width:170px">
            @Html.Label("Book")
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.Label("Genre")
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                <img src="@item.ImageUrl" ; width="100" /><br><br>
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4><br><br>
                @foreach (var author in item.Authors)
                {
                    @Html.DisplayFor(modelItem => author.Name)<br>
                }
            </td>

            <td style="width:550px">
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            
            <td>
                @foreach (var genre in item.Genres)
                {
                    @Html.DisplayFor(modelItem => genre.Name)<br>
                }
            </td>

            @if (Library.Models.AuthenticationManager.LoggedUser != null && Library.Models.AuthenticationManager.IsAdmin() == true)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
            @if (Library.Models.AuthenticationManager.LoggedUser != null)
            {
                var UpdateBookInUserListLink = "/UserBooks/Index?id=" + Library.Models.AuthenticationManager.LoggedUser.Id + "&&bookId=" + item.Id;

                if (item.UsersMarkedAsRead.Where(b => b.Id == Library.Models.AuthenticationManager.LoggedUser.Id).FirstOrDefault() == null)
                {
                    <td><a href="@UpdateBookInUserListLink">Mark as Read</a></td>
                }
                else
                {
                    <td><a href="@UpdateBookInUserListLink">Remove From List With Read Books</a></td>
                }
            }
        </tr>
    }

</table>
