﻿@model IEnumerable<DataAccess.Entity.Genre>

@{
    ViewBag.Title = "Genres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Genres</h2>

@if (Library.Models.AuthenticationManager.LoggedUser != null && Library.Models.AuthenticationManager.IsAdmin() == true)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (Library.Models.AuthenticationManager.LoggedUser != null && Library.Models.AuthenticationManager.IsAdmin() == true)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>

            }

        </tr>
    }

</table>
